# OS junk files
[Tt]humbs.db

*.DS_Store

# SASS Cache

.sass-cache/

# Should we ignore the compass config file? 
# Using "compass create" would ensure to first-time Compass installers that their install works.

config.rb

# Ignore the /stylesheets directory-- Compass will be compiling your SASS files into that directory and it will always be changing
stylesheets/

# Ignore Foundation License... it might get overwritten by another open source app.  Moved license to README of this project.
MIT-LECENSE.txt

# Ignore Dreamweaver Notes folders
_notes/